In [73]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
url = 'https://financialmodelingprep.com/api/v3/company/stock/list'

In [3]:
data = requests.get(url)

In [21]:
df = pd.DataFrame(data.json()['symbolsList'])

In [22]:
df['exchange'].unique().tolist()

['NYSE Arca',
 'Nasdaq Global Select',
 'New York Stock Exchange',
 'NASDAQ Global Market',
 'NASDAQ Capital Market',
 'BATS Exchange',
 'NYSE American',
 'Nasdaq',
 'NYSE',
 'NasdaqGM',
 'NasdaqCM',
 'NasdaqGS',
 'Other OTC',
 'YHD',
 'Paris',
 'Amsterdam',
 'Brussels',
 'Lisbon',
 'Toronto',
 'NYSEArca',
 'BATS',
 nan]

In [25]:
df.groupby('exchange')['symbol'].count()

exchange
Amsterdam                   132
BATS                        119
BATS Exchange               258
Brussels                    164
Lisbon                       50
NASDAQ Capital Market       878
NASDAQ Global Market        847
NYSE                        331
NYSE American               344
NYSE Arca                  1540
NYSEArca                    313
Nasdaq                     1534
Nasdaq Global Select       1504
NasdaqCM                    371
NasdaqGM                    138
NasdaqGS                    431
New York Stock Exchange    2602
Other OTC                    10
Paris                       844
Toronto                    1140
YHD                         248
Name: symbol, dtype: int64

In [40]:
exchanges = [
 'New York Stock Exchange',
 'Nasdaq']

In [48]:
df[df['exchange'].isin(exchanges)].to_json('./stocksList.json',orient='records')

,symbol,name,price,exchange
0,SPY,SPDR S&P 500,336.9900,NYSE Arca
1,CMCSA,Comcast Corporation Class A Common Stock,46.0200,Nasdaq Global Select
2,KMI,Kinder Morgan Inc.,22.2400,New York Stock Exchange
3,INTC,Intel Corporation,65.4500,Nasdaq Global Select
4,MU,Micron Technology Inc.,59.0000,Nasdaq Global Select
...,...,...,...,...
13849,SWT,NaN,105.0700,NYSE
13850,XBUY,NaN,28.0662,NYSEArca
13851,YOLO,NaN,11.4800,NYSEArca
13852,BNKU,NaN,74.3745,YHD
13853,ARMR,Armor US Equity Index ETF,20.3900,NYSEArca

In [49]:
data = requests.get('https://financialmodelingprep.com/api/v3/historical-price-full/AAPL')

In [53]:
data =data.json()

In [61]:
data = data['historical']

In [99]:
data[-1]

{'date': '2020-02-20',
 'open': 322.63,
 'high': 324.65,
 'low': 318.21,
 'close': 320.3,
 'adjClose': 320.3,
 'volume': 25048900.0,
 'unadjustedVolume': 25048900.0,
 'change': 2.33,
 'changePercent': 0.722,
 'vwap': 321.05333,
 'label': 'February 20, 20',
 'changeOverTime': 0.00722}

In [81]:
pd.DataFrame(data).tail(1).to_dict(orient='index')

{1257: {'date': '2020-02-20',
  'open': 322.63,
  'high': 324.65,
  'low': 318.21,
  'close': 320.3,
  'adjClose': 320.3,
  'volume': 25048900.0,
  'unadjustedVolume': 25048900.0,
  'change': 2.33,
  'changePercent': 0.722,
  'vwap': 321.05333,
  'label': 'February 20, 20',
  'changeOverTime': 0.00722}}

In [84]:
items = ['dict', 'list', 'series', 'split', 'records', 'index']

In [88]:
for item in items:
    print(item)
    print(pd.DataFrame(data).tail(1).to_dict(orient=item))
    print('---------')

dict
{'date': {1257: '2020-02-20'}, 'open': {1257: 322.63}, 'high': {1257: 324.65}, 'low': {1257: 318.21}, 'close': {1257: 320.3}, 'adjClose': {1257: 320.3}, 'volume': {1257: 25048900.0}, 'unadjustedVolume': {1257: 25048900.0}, 'change': {1257: 2.33}, 'changePercent': {1257: 0.722}, 'vwap': {1257: 321.05333}, 'label': {1257: 'February 20, 20'}, 'changeOverTime': {1257: 0.00722}}
---------
list
{'date': ['2020-02-20'], 'open': [322.63], 'high': [324.65], 'low': [318.21], 'close': [320.3], 'adjClose': [320.3], 'volume': [25048900.0], 'unadjustedVolume': [25048900.0], 'change': [2.33], 'changePercent': [0.722], 'vwap': [321.05333], 'label': ['February 20, 20'], 'changeOverTime': [0.00722]}
---------
series
{'date': 1257    2020-02-20
Name: date, dtype: object, 'open': 1257    322.63
Name: open, dtype: float64, 'high': 1257    324.65
Name: high, dtype: float64, 'low': 1257    318.21
Name: low, dtype: float64, 'close': 1257    320.3
Name: close, dtype: float64, 'adjClose': 1257    320.3
Name: adjClose, dtype: float64, 'volume': 1257    25048900.0
Name: volume, dtype: float64, 'unadjustedVolume': 1257    25048900.0
Name: unadjustedVolume, dtype: float64, 'change': 1257    2.33
Name: change, dtype: float64, 'changePercent': 1257    0.722
Name: changePercent, dtype: float64, 'vwap': 1257    321.05333
Name: vwap, dtype: float64, 'label': 1257    February 20, 20
Name: label, dtype: object, 'changeOverTime': 1257    0.00722
Name: changeOverTime, dtype: float64}
---------
split
{'index': [1257], 'columns': ['date', 'open', 'high', 'low', 'close', 'adjClose', 'volume', 'unadjustedVolume', 'change', 'changePercent', 'vwap', 'label', 'changeOverTime'], 'data': [['2020-02-20', 322.63, 324.65, 318.21, 320.3, 320.3, 25048900.0, 25048900.0, 2.33, 0.722, 321.05333, 'February 20, 20', 0.00722]]}
---------
records
[{'date': '2020-02-20', 'open': 322.63, 'high': 324.65, 'low': 318.21, 'close': 320.3, 'adjClose': 320.3, 'volume': 25048900.0, 'unadjustedVolume': 25048900.0, 'change': 2.33, 'changePercent': 0.722, 'vwap': 321.05333, 'label': 'February 20, 20', 'changeOverTime': 0.00722}]
---------
index
{1257: {'date': '2020-02-20', 'open': 322.63, 'high': 324.65, 'low': 318.21, 'close': 320.3, 'adjClose': 320.3, 'volume': 25048900.0, 'unadjustedVolume': 25048900.0, 'change': 2.33, 'changePercent': 0.722, 'vwap': 321.05333, 'label': 'February 20, 20', 'changeOverTime': 0.00722}}
---------

In [97]:
pd.DataFrame(data).tail(1).to_dict(orient='records')[0]

{'date': '2020-02-20',
 'open': 322.63,
 'high': 324.65,
 'low': 318.21,
 'close': 320.3,
 'adjClose': 320.3,
 'volume': 25048900.0,
 'unadjustedVolume': 25048900.0,
 'change': 2.33,
 'changePercent': 0.722,
 'vwap': 321.05333,
 'label': 'February 20, 20',
 'changeOverTime': 0.00722}

In [ ]:
â€˜splitâ€™ 

â€˜recordsâ€™ : list like [{column -> value}, â€¦ , {column -> value}]

â€˜indexâ€™ : dict like {index -> {column -> value}}

â€˜columnsâ€™ : dict like {column -> {index -> value}}

â€˜valuesâ€™ : just the values array

â€˜tableâ€™ : dict like {â€˜schemaâ€™: {schema}, â€˜dataâ€™: {data}}