In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url = 'https://financialmodelingprep.com/api/v3/company/stock/list'

In [3]:
data = requests.get(url)

In [21]:
df = pd.DataFrame(data.json()['symbolsList'])

In [22]:
df['exchange'].unique().tolist()

['NYSE Arca',
 'Nasdaq Global Select',
 'New York Stock Exchange',
 'NASDAQ Global Market',
 'NASDAQ Capital Market',
 'BATS Exchange',
 'NYSE American',
 'Nasdaq',
 'NYSE',
 'NasdaqGM',
 'NasdaqCM',
 'NasdaqGS',
 'Other OTC',
 'YHD',
 'Paris',
 'Amsterdam',
 'Brussels',
 'Lisbon',
 'Toronto',
 'NYSEArca',
 'BATS',
 nan]

In [25]:
df.groupby('exchange')['symbol'].count()

exchange
Amsterdam                   132
BATS                        119
BATS Exchange               258
Brussels                    164
Lisbon                       50
NASDAQ Capital Market       878
NASDAQ Global Market        847
NYSE                        331
NYSE American               344
NYSE Arca                  1540
NYSEArca                    313
Nasdaq                     1534
Nasdaq Global Select       1504
NasdaqCM                    371
NasdaqGM                    138
NasdaqGS                    431
New York Stock Exchange    2602
Other OTC                    10
Paris                       844
Toronto                    1140
YHD                         248
Name: symbol, dtype: int64

In [40]:
exchanges = [
 'New York Stock Exchange',
 'Nasdaq']

In [48]:
df[df['exchange'].isin(exchanges)].to_json('./stocksList.json',orient='records')

,symbol,name,price,exchange
0,SPY,SPDR S&P 500,336.9900,NYSE Arca
1,CMCSA,Comcast Corporation Class A Common Stock,46.0200,Nasdaq Global Select
2,KMI,Kinder Morgan Inc.,22.2400,New York Stock Exchange
3,INTC,Intel Corporation,65.4500,Nasdaq Global Select
4,MU,Micron Technology Inc.,59.0000,Nasdaq Global Select
...,...,...,...,...
13849,SWT,NaN,105.0700,NYSE
13850,XBUY,NaN,28.0662,NYSEArca
13851,YOLO,NaN,11.4800,NYSEArca
13852,BNKU,NaN,74.3745,YHD
13853,ARMR,Armor US Equity Index ETF,20.3900,NYSEArca