In [4]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
url = 'https://financialmodelingprep.com/api/v3/company/stock/list'

In [3]:
data = requests.get(url)

In [21]:
df = pd.DataFrame(data.json()['symbolsList'])

In [22]:
df['exchange'].unique().tolist()

['NYSE Arca',
 'Nasdaq Global Select',
 'New York Stock Exchange',
 'NASDAQ Global Market',
 'NASDAQ Capital Market',
 'BATS Exchange',
 'NYSE American',
 'Nasdaq',
 'NYSE',
 'NasdaqGM',
 'NasdaqCM',
 'NasdaqGS',
 'Other OTC',
 'YHD',
 'Paris',
 'Amsterdam',
 'Brussels',
 'Lisbon',
 'Toronto',
 'NYSEArca',
 'BATS',
 nan]

In [25]:
df.groupby('exchange')['symbol'].count()

exchange
Amsterdam                   132
BATS                        119
BATS Exchange               258
Brussels                    164
Lisbon                       50
NASDAQ Capital Market       878
NASDAQ Global Market        847
NYSE                        331
NYSE American               344
NYSE Arca                  1540
NYSEArca                    313
Nasdaq                     1534
Nasdaq Global Select       1504
NasdaqCM                    371
NasdaqGM                    138
NasdaqGS                    431
New York Stock Exchange    2602
Other OTC                    10
Paris                       844
Toronto                    1140
YHD                         248
Name: symbol, dtype: int64

In [40]:
exchanges = [
 'New York Stock Exchange',
 'Nasdaq']

In [48]:
df[df['exchange'].isin(exchanges)].to_json('./stocksList.json',orient='records')

,symbol,name,price,exchange
0,SPY,SPDR S&P 500,336.9900,NYSE Arca
1,CMCSA,Comcast Corporation Class A Common Stock,46.0200,Nasdaq Global Select
2,KMI,Kinder Morgan Inc.,22.2400,New York Stock Exchange
3,INTC,Intel Corporation,65.4500,Nasdaq Global Select
4,MU,Micron Technology Inc.,59.0000,Nasdaq Global Select
...,...,...,...,...
13849,SWT,NaN,105.0700,NYSE
13850,XBUY,NaN,28.0662,NYSEArca
13851,YOLO,NaN,11.4800,NYSEArca
13852,BNKU,NaN,74.3745,YHD
13853,ARMR,Armor US Equity Index ETF,20.3900,NYSEArca

In [116]:
AAPL = requests.get('https://financialmodelingprep.com/api/v3/historical-price-full/AAPL')

In [117]:
GS = requests.get('https://financialmodelingprep.com/api/v3/historical-price-full/GS')

In [130]:
df1 = pd.DataFrame(AAPL.json()['historical']).set_index('date')

In [131]:
df1.head()

,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
date,,,,,,,,,,,,
2015-02-23,130.02,133.00,129.66,133.00,123.05,70974100.0,70974100.0,-2.98,-2.292,131.88667,"February 23, 15",-0.02292
2015-02-24,132.94,133.60,131.17,132.17,122.29,69228100.0,69228100.0,0.77,0.579,132.31333,"February 24, 15",0.00579
2015-02-25,131.56,131.60,128.15,128.79,119.16,74711700.0,74711700.0,2.77,2.106,129.51333,"February 25, 15",0.02106
2015-02-26,128.79,130.87,126.61,130.42,120.67,91287500.0,91287500.0,-1.63,-1.266,129.30000,"February 26, 15",-0.01266
2015-02-27,130.00,130.57,128.24,128.46,118.85,62014800.0,62014800.0,1.54,1.185,129.09000,"February 27, 15",0.01185

In [128]:
df2 = pd.DataFrame(GS.json()['historical']).set_index('date')

In [129]:
df2.head()

,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
date,,,,,,,,,,,,
2015-02-23,190.74,190.74,189.27,190.31,177.53,1691100.0,1691100.0,0.43,0.225,190.10667,"February 23, 15",0.00225
2015-02-24,190.03,193.28,189.68,192.22,179.31,2627300.0,2627300.0,-2.19,-1.152,191.72667,"February 24, 15",-0.01152
2015-02-25,191.55,192.45,190.46,191.72,178.85,2775700.0,2775700.0,-0.17,-0.089,191.54333,"February 25, 15",-0.00089
2015-02-26,190.51,192.47,190.00,192.20,179.86,2449300.0,2449300.0,-1.69,-0.887,191.55667,"February 26, 15",-0.00887
2015-02-27,191.19,192.50,189.79,189.79,177.60,2572400.0,2572400.0,1.40,0.732,190.69333,"February 27, 15",0.00732

In [133]:
symbols = ['AAPL','GS']

In [3]:
myData = pd.DataFrame()

In [18]:
response = requests.get(f'https://financialmodelingprep.com/api/v3/historical-price-full/AAPL')

In [25]:
AAPL = response.json()['historical']

In [27]:
APL={}

In [32]:
for item in AAPL:
    date = item['date']
    close =item['close']
    APL[date]=close

In [34]:
GS_response = requests.get(f'https://financialmodelingprep.com/api/v3/historical-price-full/GS')

In [35]:
GS={}

In [36]:
GS_data = GS_response.json()['historical']

In [38]:
for item in GS_data:
    date = item['date']
    close = item['close']
    GS[date]=close

In [ ]:
########################################################################


########################################################################

In [198]:
df = pd.DataFrame()

In [199]:
symbols = ['GE','HPQ']

In [200]:
for symbol in symbols:
    response = requests.get(f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}')
    df[symbol] = pd.DataFrame(response.json()['historical']).set_index('date')['close']

In [201]:
####################################

# Risk

####################################

In [202]:
sec_returns = np.log(df/df.shift(1))

In [203]:
sec_returns.dropna(inplace=True)

In [204]:
sec_returns

                  GE       HPQ
date
2015-02-24  0.008640  0.008041
2015-02-25  0.020276 -0.104852
2015-02-26 -0.000803 -0.018596
2015-02-27  0.004010  0.023666
2015-03-02  0.004790  0.002525
...              ...       ...
2020-02-14 -0.008537  0.006728
2020-02-18 -0.006255 -0.005828
2020-02-19 -0.011041  0.008507
2020-02-20 -0.006364  0.009319
2020-02-21 -0.022600  0.002647

[1258 rows x 2 columns]

In [235]:
risk = round((sec_returns[symbols].std()*250**0.5),4).tolist()

In [246]:
returns = round((sec_returns[symbols].mean()*252),4).tolist()

In [257]:
arr = []

In [258]:
for symbol in symbols:
    dictionary = {}
    dictionary['risk']=risk[0]
    dictionary['symbol']=symbol
    dictionary['return']=returns[0]
    arr.append(dictionary)

In [259]:
arr.append(dictionary)

In [260]:
arr

[{'risk': 0.3033, 'symbol': 'GE', 'return': -0.1364},
 {'risk': 0.3033, 'symbol': 'HPQ', 'return': -0.1364},
 {'risk': 0.3033, 'symbol': 'HPQ', 'return': -0.1364}]

In [250]:
dictionary

{'risk': 0.3033, 'symbol': 'H', 'return': -0.1364}

In [197]:
pd.DataFrame.from_dict(test,orient='index',columns=['return']).T.to_dict(orient='records')

[{'GE': -0.13638181831106486, 'HPQ': 0.05395543417329918}]

In [151]:
returns_dic = round((sec_returns[symbols].mean()*252),4).tolist()

SyntaxError: invalid syntax (<ipython-input-151-913e79511185>, line 1)

In [127]:
risk_dict = round(sec_returns[symbols].std()*250**0.5).to_dict()

In [144]:
returns = []
returns.append(returns_dic)

In [145]:
returns

[[-0.1364, 0.054]]

In [ ]:
###############################################

# price change

################################################

In [7]:
for symbol in symbols:
    response = requests.get(f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}')
    df[symbol] = pd.DataFrame(response.json()['historical']).set_index('date')['close'].pct_change()

In [ ]:
###############################################

# Portfolio return

################################################

In [261]:
df = pd.DataFrame()

In [265]:
symbols = ['GE','HPQ']

In [266]:
for symbol in symbols:
    response = requests.get(f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}')
    df[symbol] = pd.DataFrame(response.json()['historical']).set_index('date')['close']

In [267]:
df

               GE    HPQ
date
2015-02-23  24.20  17.34
2015-02-24  24.41  17.48
2015-02-25  24.91  15.74
2015-02-26  24.89  15.45
2015-02-27  24.99  15.82
...           ...    ...
2020-02-14  12.83  22.37
2020-02-18  12.75  22.24
2020-02-19  12.61  22.43
2020-02-20  12.53  22.64
2020-02-21  12.25  22.70

[1259 rows x 2 columns]

In [296]:
returns = (df/df.shift(1))-1

In [298]:
returns.head()

                  GE       HPQ
date
2015-02-23       NaN       NaN
2015-02-24  0.008678  0.008074
2015-02-25  0.020483 -0.099542
2015-02-26 -0.000803 -0.018424
2015-02-27  0.004018  0.023948

In [289]:
ratio = 100/len(symbols)/100

In [290]:
weights=np.array([])
for symbol in symbols:
    weights= np.append(weights,[ratio])

In [300]:
annual_returns=returns.mean()*252
annual_returns

GE    -0.089925
HPQ    0.097127
dtype: float64

In [304]:
portfolio=(round(np.dot(annual_returns, weights), 5) * 100)

In [313]:
sec_returns = np.log(df/df.shift(1))

In [318]:
cov_matrix=sec_returns.cov()

In [319]:
cov_matrix

           GE       HPQ
GE   0.000368  0.000108
HPQ  0.000108  0.000346

In [320]:
cov_matrix_a=sec_returns.cov()*252

In [321]:
cov_matrix_a

           GE       HPQ
GE   0.092743  0.027160
HPQ  0.027160  0.087099

In [322]:
corr_matrix=sec_returns.corr()

In [323]:
corr_matrix

           GE       HPQ
GE   1.000000  0.302188
HPQ  0.302188  1.000000

In [324]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))

In [325]:
pfolio_var

0.05807586985689484

In [326]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5

In [327]:
pfolio_vol

0.24098935631453694