In [13]:
import yfinance as yf
import numpy as np

In [14]:
tick = yf.Ticker('JP')
df = tick.history(period='max')

In [15]:
df

              Open    High     Low   Close  Volume  Dividends  Stock Splits
Date
2015-06-19  0.0367  0.0367  0.0367  0.0367       0        0.0             0
2015-06-22  0.0321  0.0321  0.0321  0.0321    5000        0.0             0
2015-06-23  0.0321  0.0321  0.0321  0.0321       0        0.0             0
2015-06-24  0.0321  0.0321  0.0321  0.0321  135000        0.0             0
2015-06-25  0.0275  0.0275  0.0229  0.0229  444666        0.0             0
...            ...     ...     ...     ...     ...        ...           ...
2020-03-02  1.3200  1.4500  1.3200  1.3800   56500        0.0             0
2020-03-03  1.4200  1.4800  1.3860  1.4400   31200        0.0             0
2020-03-04  1.4300  1.4400  1.4000  1.4000   16400        0.0             0
2020-03-05  1.4000  1.4110  1.2840  1.3500   22300        0.0             0
2020-03-06  1.3600  1.3600  1.3000  1.3300    5600        0.0             0

[1187 rows x 7 columns]

In [16]:
df['log_return'] = np.log(df['Close'] / df['Close'].shift(1))

In [17]:
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,log_return
Date,,,,,,,,
2020-03-02,1.32,1.450,1.320,1.38,56500,0.0,0,0.044452
2020-03-03,1.42,1.480,1.386,1.44,31200,0.0,0,0.042560
2020-03-04,1.43,1.440,1.400,1.40,16400,0.0,0,-0.028171
2020-03-05,1.40,1.411,1.284,1.35,22300,0.0,0,-0.036368
2020-03-06,1.36,1.360,1.300,1.33,5600,0.0,0,-0.014926

In [18]:
log_return_a = df['log_return'].mean() * 250 * 100

In [19]:
log_return_a

75.67785552603885