In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [28]:
tickers = ['GS', 'BAC']
df = pd.DataFrame()
for t in tickers:
    tick = yf.Ticker(t)
    df[t] = tick.history(period="max")['Close']

In [30]:
returns = (df/df.shift(1)) - 1

In [31]:
returns

                  GS       BAC
Date
1999-05-04       NaN       NaN
1999-05-05 -0.017736  0.007225
1999-05-06 -0.017326 -0.020323
1999-05-07  0.091128  0.011592
1999-05-10 -0.046266 -0.016888
...              ...       ...
2020-03-09 -0.103915 -0.147025
2020-03-10  0.066779  0.076607
2020-03-11 -0.067589 -0.039814
2020-03-12 -0.123393 -0.095280
2020-03-13  0.175803  0.177962

[5250 rows x 2 columns]

In [32]:
weights = np.array([0.5,0.5])

In [33]:
annual_returns = returns.mean()*250

In [36]:
portfolio_returns = np.dot(annual_returns,weights) * 100

In [38]:
portfolio_returns

12.214039033306637

In [39]:
log_returns = np.log(df/df.shift(1))

In [45]:
cov_matrix = log_returns.cov()

In [47]:
cov_matrix_annual = log_returns.cov() * 250

In [48]:
cov_matrix_annual

           GS       BAC
GS   0.136477  0.107279
BAC  0.107279  0.206219

In [49]:
corr_matrix = log_returns.corr()

In [51]:
portfolio_volatility = (np.dot(weights.T, np.dot(log_returns.cov() * 250, weights))) ** 0.5

In [54]:
round(portfolio_volatility,5) * 100

37.325